@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
* {
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}

.btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    border-color: #ccc;
    width: 100%;
}

.btn-2-group {
    width: 45%;
    margin-left: 1.25%;
    margin-right: 1.25%;
}

.msg {
    width: 40%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 10%;
    vertical-align: middle;
}

input[type=text] {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    box-sizing: border-box;
    line-height: 24px;
}

.container {
    margin: 0 auto;
    width: 80%;
}

@media screen and (min-width: 600px) {
    .container {
        width: 50%;
    }
}

.btn_info {
    background: #95dce4;
    border-color: #4acdf5;
}

.btn_info:active {
    background: #7ecfd9;
    border-color: #30c3f0;
}

.btn_default {
    background: #3464ec;
    border-color: #0a48f7;
}

.btn_default:active {
    background: #1543c4;
    border-color: #0a34aa;
}

.btn_danger {
    background: #e74950;
    border-color: #f80f25;
}

.btn_danger:active {
    background: #f30a14;
    border-color: #d50303;
}